body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body,
input {
  font-family: 'Roboto Mono', monospace;
  color: #2e2e3a;
}

@media only screen and (max-width: 640px) {
  body {
    font-size: 14px;
  }
}

p {
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  color: #f34213;
  border-bottom: 2px solid #f34213;
  transition: color 150ms ease, border-color 150ms ease;
}

a:hover,
a:focus {
  color: #de9151;
  border-color: #de9151;
}

h2 {
  text-transform: lowercase;
  margin: 0 0 32px;
}

code {
  font-weight: bold;
}

img {
  object-fit: cover;
}

button {
  display: block;
  margin-bottom: 16px;
  padding: 8px 12px;
  color: #f34213;
  background: transparent;
  border: 2px solid #f34213;
  font-size: 16px;
  cursor: pointer;
  transition: color 150ms ease, border-color 150ms ease;
}

button:hover,
button:focus {
  color: #de9151;
  border-color: #de9151;
}

/* General Documentation */
.section {
  margin: 64px 0 0;
  padding: 64px 0 0;
  border-top: 8px dotted #bbb8b2;
}

.error {
  color: #bc5d2e;
  border: 2px solid #bc5d2e;
  padding: 16px;
}

.main-content {
  max-width: 640px;
  margin: 0 auto;
  padding: 24px;
}

.image-fallback {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-color: #bbb8b2;
}

.all-images-fallback {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  background-color: #bbb8b2;
}

/* Example-specific styles */
.example__card {
  display: flex;
  align-items: center;
  padding: 24px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.example__avatar {
  flex-grow: 0;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 16px;
  box-sizing: border-box;
  border: 1px solid #ddd;
}

.example__input {
  border-radius: 6px;
  flex-grow: 1;
  flex-shrink: 1;
  border: 1px solid #ddd;
  padding: 12px;
  line-height: 16px;
  font-size: 16px;
  transition: border-color 150ms ease, box-shadow 150ms ease;
}

.example__input:focus {
  outline: none;
  border-color: #de9151;
  box-shadow: 0 0 4px #de9151;
}

.example__avatar--loading {
  flex-grow: 0;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 16px;
  background-color: #eee;
}

.example__input--loading {
  border-radius: 6px;
  flex-grow: 1;
  flex-shrink: 1;
  height: 48px;
  background-color: #eee;
}

/* GitHub Octocat fork indicator */
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

.github-svg {
  fill: #f34213;
  color: #fff;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}

.octo-arm {
  transform-origin: 130px 106px;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
